datadir="/var/lib/proxysql"

admin_variables=
{
	admin_credentials="admin:{{ admin_password }}"
	mysql_ifaces="127.0.0.1:{{ admin_port }}"
}

mysql_variables=
{
	threads=4
	max_connections=2048
	default_query_delay=0
	default_query_timeout=36000000
	have_compress=true
	poll_timeout=2000
	interfaces="0.0.0.0:{{ db_readwrite_port }};0.0.0.0:{{ db_readonly_port }}"
	default_schema="information_schema"
	stacksize=1048576
	server_version="5.5.30"
	connect_timeout_server=3000
	commands_stats=false
	sessions_sort=true
	connect_retries_on_failure=10
}

mysql_query_rules:
(
    {
        rule_id=1,
        active=1,
        proxy_port={{ db_readwrite_port }},
        destination_hostgroup=1,
        apply=1,
    },
    {
        rule_id=2,
        active=1,
        proxy_port={{ db_readonly_port }},
        destination_hostgroup=2,
        apply=1,
    }
)

mysql_replication_hostgroups=
(
    {
        writer_hostgroup=1,
        reader_hostgroup=2,
        comment="Default replication hostgroup"
    }
)